<form class="example-form">
    <div>
        Bank Transaction
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Number" disabled>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label> </mat-label>
            <input matInput placeholder="Pay to Wallet" value="Pay to Wallet" disabled>
        </mat-form-field>
    </div>
    <button routerLink="/home">Pay</button>
</form>