<form class="example-form">
    <div>
        Bank Transaction
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" disabled>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </div>
    <button routerLink="/bankTwo">Login</button>
</form>